@media(max-width: 1199px) {
    #contacts > div {
        flex-direction: column;
    }
}

@media(max-width: 991px) {
    #about > div {
        width: 35%;
    }

    #skills {
        width: 55%;
    }

    #portfolio > div {
        width: 90%;
    }

    #portfolio > div > div {
        width: 48%;
        margin: 1%;
    }

    #contacts > form {
        width: 95%;
    }
}

@media(max-width: 767px) {
    #about {
        flex-direction: column;
    }

    #about > div {
        width: 90%;
        margin: auto;
    }

    #skills {
        width: 90%;
        margin: auto;
    }

    #portfolio > div {
        width: 100%;
    }

    #portfolio > div > div {
        width: 48%;
        height: 100%;
        margin: 1%;
    }

    #contacts > div {
        width: 90%
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        background-color: #000000;
    }

    nav > ul {
        flex-direction: column;
        margin: 0px;
    }

    nav > ul > li {
        height: 50px;
        border-bottom: 1px solid #ffffff;
    }

    nav > ul > li > a {
        color: #ffffff;
        display: block;
        line-height: 50px;
    }

    header button {
        display: inline!important;
    }

    header button:hover + nav {
        display: block;
    }
}

